@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <div class="">
            <table class="table table-bordered table-hover" id="tblEmployees">
                <thead>
                    <tr>
                        <td colspan="3">
                            <input data-bind="value: employeeId" id="txtEmployeeId" class="form-control" placeholder="Employee ID" />
                        </td>
                        <td colspan="2">
                            <button data-bind='click: getEmployees' id="btnGetEmployees" class="btn btn-primary">
                                Get Employees
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            #ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Role Name
                        </th>
                        <th>
                            Contract Type
                        </th>
                        <th>
                            Annual Salary
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        (function ($) {
            $("#btnGetEmployees").click(function (e) {
                let apiUrl = "/api/employees";
                let empId = parseInt($("#txtEmployeeId").val() || "0");
                console.log("empId:", empId);
                if (empId > 0) {
                    apiUrl = apiUrl + "/" + empId;
                }
                $("#tblEmployees tbody").html("");
                $.getJSON(apiUrl).done(function (data) {
                    console.log("data:", data);
                    if (Array.isArray(data)) {
                        for (let i = 0; i < data.length; i++) {
                            let emp = data[i];
                            $("#tblEmployees tbody").append("<tr><td>" + emp.id + "</td>"
                                + "<td>" + emp.name + "</td>"
                                + "<td>" + emp.roleName + "</td>"
                                + "<td>" + emp.contractTypeName + "</td>"
                                + "<td>" + emp.annualSalary + "</td></tr>");
                        }
                    }
                    else {
                        let emp = data;
                        $("#tblEmployees tbody").append("<tr><td>" + emp.id + "</td>"
                            + "<td>" + emp.name + "</td>"
                            + "<td>" + emp.roleName + "</td>"
                            + "<td>" + emp.contractTypeName + "</td>"
                            + "<td>" + emp.annualSalary + "</td></tr>");
                    }
                }).fail(function (err) {
                    console.log("err:", err);
                    $("#tblEmployees tbody").html("<tr><td  colspan='5'>" + err.responseText + "</td></tr>");
                });
            });
        })(jQuery);
    </script>
}